.article-item {
  display: flex;
  flex-direction: column;
  margin: 10px;
  width: 300px;
  border-radius: 14px;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 0px 16px;
  cursor: pointer;
}

.article-img {
  border-radius: 14px;
  background-color: white;
  width: 100%;
  height: 200px;
  object-fit: contain;
}

.article-description {
  display: flex;
  flex-direction: column;
  padding: 18px;
  background-color: #dfdfdf;
  border-radius: 14px;
}

.on-sale {
  background-color: #f5ca01;
}

.article-description h3 {
  font-size: 1.5em;
  margin: 0;
  text-align: center;
}

.article-value {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 24px;
}

.price {
  display: flex;
  flex-direction: column;
}

.price p {
  margin: 0;
  font-size: 1.8em;
  font-weight: 800;
}

.price .not-on-sale{
  color: #928f8f;
}

.price .price-title {
  color: #fff;
  font-size: 1em;
  font-weight: 500;
}

.quantity {
  display: flex;
  flex-direction: column;
}

.quantity-title {
  color: #fff;
  margin: 0;
  font-size: 1em;
  font-weight: 500;
}

.quantity .quantity-actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.quantity-value {
  font-size: 1.8em;
  font-weight: 800;
  margin: 0;
  padding: 8px;
}

.circular-button {
  border: none;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  background-color: white;
  color: black;
  font-size: 20px;
  cursor: pointer;
  outline: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.circular-button:disabled {
  background-color: #dfdfdf;
  color: #928f8f;
  cursor: not-allowed;
}
