.article-list {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.search-input {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 4rem auto;
}

.search-input input {
  width: 60%;
  padding: 0.5rem;
  font-size: 1.5rem;
  border: 1px solid #f5ca01;
  border-radius: 5px;
}