<div class="container">
  <form
    class="form-container"
    [formGroup]="articleForm"
    (ngSubmit)="onSubmit()"
  >
  <div class="form-group">
    <label for="name">Nombre del artículo</label>
    <input id="name" type="text" class="form-control" formControlName="name" />
    <div *ngIf="articleForm.get('name')?.touched && articleForm.get('name')?.invalid" class="text-danger">
      <small *ngIf="articleForm.get('name')?.errors?.['required']">El nombre es obligatorio.</small>
    </div>
  </div>

  <div class="form-group">
    <label for="price">Precio del artículo</label>
    <input id="price" type="number" class="form-control" formControlName="price" />
    <div *ngIf="articleForm.get('price')?.touched && articleForm.get('price')?.invalid" class="text-danger">
      <small *ngIf="articleForm.get('price')?.errors?.['required']">El precio es obligatorio.</small>
      <small *ngIf="articleForm.get('price')?.errors?.['min']">El precio debe ser al menos 0,1€.</small>
    </div>
  </div>

  <div class="form-group">
    <label for="imageUrl">URL de la imagen</label>
    <input id="imageUrl" type="text" class="form-control" formControlName="imageUrl" />
    <div *ngIf="articleForm.get('imageUrl')?.touched && articleForm.get('imageUrl')?.invalid" class="text-danger">
      <small *ngIf="articleForm.get('imageUrl')?.errors?.['required']">La URL de la imagen es obligatoria.</small>
      <small *ngIf="articleForm.get('imageUrl')?.errors?.['pattern']">Debe ser una URL válida (https://www.ejemplo.com/imagen.jpg).</small>
    </div>
  </div>

  <div class="form-group form-check">
    <input id="isOnSale" type="checkbox" class="form-check-input" formControlName="isOnSale" />
    <label for="isOnSale" class="form-check-label">¿Está en venta?</label>
  </div>

    <button type="submit" class="btn btn-light btn-md">
      Crear artículo
    </button>
  </form>
</div>
